In [1]:
import pandas as pd
from pydataset import data

In [2]:
data('mtcars')

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [4]:
#Load from Excel/ CSV and export to
df=data('mtcars')
df.head(3)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [5]:
df.to_csv('mtcars.csv')

In [9]:
df.to_excel('mtcarsExcel.xlsx','sheet3', header=True)

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     |████████████████████████████████| 249 kB 4.1 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
WARNING: You are using pip version 21.0.1; however, version 23.0.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Daily Practise File
#-----------------------------
#Data Structures
#List - ordered collection of items, mutable(changeable) : [square ]
list1 = [1,2,3,4,5,'a','Dhiraj',"Upadhyaya",True]  #list type of object with data
list1  #print when through spyder
type(list1)  #type of object
print(list1)  #print when running complete file
list1
sorted([100000,5,3,2,4,5,324,43,4,4,3,23,434,53442,244,2245224,523])
list2 = ['f','c','d','e',"f"]
list2
list2.count('f')
list2.count('d')
len(list2)
dir(list)
dir(tuple)
dir(list) #functions which can be operated on list type of DS
sorted(list2)
list2
list2[2]  #index starts from 0,1,...
list2[2] = 'Z'  #list is mutable, ie. values can be changed
list2
#%%mutatble - changed, immutable- cannot be changed
#tuple - multiple type of objects like list, immutable: ( round brackets) : no changes
tuple1 = (1, 2, 'a', 'b')
tuple1
type(tuple1)
tuple1[1]
tuple1[1] = 0  #changes not possible, immutable
tuple1 = (5,45)
tuple1  #overwriting is possible
#%%
#Dictionary - key-value pairs : { curly bracket and colon key:value}
dict1 = {1:'Ramesh', 2:'Suresh', 3:'Priyanka'}
dict1
type(dict1)

car = { 'brand':'Honda', 'model': 'Jazz', 'year' : 2017}
type(car)
car
#access
car['brand']
car['year']
car.get('year')
dir(car)
#dir?  # help
dir   #select the text and press control + I
car['brand'] = 'MARUTI'
car  #mutable , value can be changed


#%%frozen Dictionaries https://pypi.org/project/frozendict/
#conda install -c conda-forge frozendict #from anaconda as admin
#pip install frozendict   #install this library
from frozendict import frozendict
fd = frozendict({ 'brand': 'Honda' })
fd
fd['brand'] = 'HYUNDIA'   #immutatble

#%% { curly bracket, comma}
#Set - ordered collection of simple items, immutable
set1 = set(['india', 'pakistan', 'england', 'australia','india'])
set1
type(set1)

set2 = {'INDIA','PAKISTAN',  "INDIA"}  #better way
set2
set3 = {'Australia', 'South Africa', 'INDIA'}
set3
sorted(set3)
set2.union(set3) #set2 | set3
#A.intersection(B)
set2.intersection(set3) #set2 & set

type(set2)
print(set2)
dir(set2)  #functions in set, cannot be subscript set2[1]

#%%%frozen ( round bracket, comma)
#frozen set- accepts iterable object as input parameter.
tupleFZ1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9) 
tupleFZ1
type(tupleFZ1)  

# converting tuple to frozenset 
frozenset1 = frozenset(tupleFZ1) 
frozenset1  #only one 9
type(frozenset1)

dict1 = {1: 'Ramesh', 2: 'Suresh', 3: 'Priyanka'}
dict1
frozenset2 = frozenset(dict1)
type(frozenset2)
frozenset2 #keys of dictionary made as frozen set

#%% #Strings : 'single quote'  or "doublequote"
#strings as text in string; immutable
str1 = 'Python Programming'
type(str1)
print(str1)
str2="Yash"
str2.lower()
dir(str)
str2[1] = 'Z' #immutable , but new string can be assigned
str2 = 'Dhiraj'
str2

#list, tuple, dictionary, set, strings.
#%% - Sequence
#sequence - tuple and list are used
list1 = [1,2,3,4,5]
list2 = ['a','bb','ccc', 'dddd', 'eeeee']
list1
#for loop : indentations with colon : Run next 2 lines together
for i in list1:
    print(i)

  
for i in list1:    print(i , end ='\t')
#print?  #help
for i in list2:    print(i, 'DU' , sep='-' , end ='xxx')
#a-DU-xxx ; i+sep+end
for i in list1:    print(i , 'HHHE', sep=' X ' , end ='\t')

for i in list1:    print('Dhiraj ', i + 6)

tuple1 = (1, 2, 'a', 'b')
tuple1
list5 = ['a',1]
list5
for i in tuple1:    print(i, end ='\t')
help(range)  # start, stop, step; does not take keyword
range(1, 100, 2)  #nothing happens, though it generates 
for i in range(1, 100, 2):    print(i, end=' ')

#odd nos between x & y    

#%% do later
#zip - map the similar index of multiple containers 
# initializing lists 
name = [ "Dhiraj", "Kounal", "Akhil", "Pooja" ] 
rollno = [ 4, 1, 3, 2 ] 
marks = [ 90, 50, 60, 70 ] 
# using zip() to map values 
mapped = zip(name, rollno, marks) 
mapped
type(mapped)
# converting values to print as set 
mappedSet = set(mapped) 
mappedSet
namez, rollnoz, marksz = zip(*mappedSet)
namez
rollnoz
marksz
#combine and then split

#%% #numpy - array - same data type - numerical python
list1 = [1,2,3,5]
list1
import numpy
numpy.array([10,20])
numpy.array([list1])

import numpy as np #np is alias
np1 = np.arange(1,10)
np1

x=np.arange(start=1,stop=1000000,step=2)
len(x)
x[1:100]
x[1:50:10]
np
np.mean(np.arange(1,10000000))
np1
type(np1)
help(np)
#help on numpy 
dir(np)  #functions available in numpy
help(np.mean)  # help on mean function of numpy

np2 = np.array([ 90, 50, 60, 70 ])
np2
np.sort(np2)
dir(np)

np3 = np.array([[1,4],[3,1],[5,6],[10,50]])
np3
np3.shape
np3.shape[0]
np3.shape[1]
x= np3.shape[0] * np3.shape[1]
x
x%2 == 0
x%3 == 0 #true 
len(np3)
np3.reshape((-1,1))  #1 column from 2 column
np3.reshape((-1))
np3.reshape((-1,2))
np3.reshape((-1,3))  #error
np3.reshape((-1,4))

#http://cs231n.github.io/python-numpy-tutorial/
#%% #pandas - dataframe, excel like
#https://mode.com/python-tutorial/pandas-dataframe/
#https://pandas.pydata.org/pandas-docs/stable/

import pandas as pd
help(pd)
dir(pd)

df1 = pd.DataFrame({'rollno':[1,2,3,4], 'name': [ "Dhiraj", "Kounal", "Akhil", "Pooja" ], 'marks':[ 40, 50, 60.5, 70 ], 'gender':['M', 'M','M', 'F']})
df1
type(df1) 

df1.columns  #colum nanes
df1.index  #row ids/ names  - here auto created
df1.describe() #description of numerical values
df1.dtypes #data types
df1.shape  # rows and columns
df1.groupby('gender').size()
df1.groupby('gender')['marks'].mean()
df1.groupby('gender').aggregate({'marks': [np.mean, 'max','min','std','count']})

#%% #Graphs https://python-graph-gallery.com/
#https://matplotlib.org/

import matplotlib.pyplot as plt
df1.groupby('gender').size()
df1.groupby('gender').size().plot(kind='bar')

plt.hist(df1['marks'])

#https://seaborn.pydata.org/index.html
import seaborn as sns
sns.get_dataset_names()
# sns.set(style="ticks", color_codes=True)
iris = sns.load_dataset("iris")
iris.head()
iris.tail()
np.log(iris.sepal_length)
np.log([1,10,1000])
df1.groupby('gender').size()
iris.groupby('species').size().plot(kind='bar')
sns.pairplot(iris)  #relationship diagrams


#%% #Load Inbuilt Datasets

#pip install pydataset
from pydataset import data
data('iris')
data('mtcars')

#https://vincentarelbundock.github.io/Rdatasets/datasets.html
import statsmodels.api as sm
mtcars = sm.datasets.get_rdataset(dataname='mtcars', package= 'datasets')
mtcars.data.head()


#%%
#Load from Excel/ CSV and export to
data = mtcars.data
data.head(6)
type(data)
data.to_csv('mtcars.csv')
data.to_excel('mtcarsExcel.xlsx','sheet3', header=False)

#writing to multiple sheets
writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')
# Write each dataframe to a different worksheet. you could write different string like above if you want
data.to_excel(writer, sheet_name='sheet1')
data.to_excel(writer, sheet_name='sheet2')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

#%%
help(data.to_excel)
#load from CSV and Excel
data2a  #not defined
data2a = pd.read_csv('mtcars.csv') #when csv is in project folder
data2a
data2b #not defined
data2b = pd.read_csv('E:/analytics/projects/pyanalytics/mtcars.csv')
data2b
#csv in any other location - full path
data2b
data2a.head()

data2c = pd.read_excel('mtcarsExcel.xlsx',header=0)
#header=None
data2c.head()

#end here....
#now practise numpy and pandas....